astroid==2.14.2
attrs==22.2.0
coconut==2.2.0
coverage==7.1.0
cPyparsing==2.4.7.1.2.0
dill==0.3.6
exceptiongroup==1.1.0
flake8==6.0.0
iniconfig==2.0.0
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
mypy==1.0.0
mypy-extensions==1.0.0
networkx==3.0
packaging==23.0
parsec==3.15
platformdirs==3.0.0
pluggy==1.0.0
ply==3.11
prompt-toolkit==3.0.36
pycodestyle==2.10.0
pyflakes==3.0.1
Pygments==2.14.0
pylint==2.16.2
pytest==7.2.1
PyYAML==6.0
tomli==2.0.1
tomlkit==0.11.6
typing_extensions==4.5.0
wcwidth==0.2.6
wrapt==1.14.1
yapf==0.32.0
